VITE_COGNITO_AUTHORITY=https://cognito-idp.us-east-2.amazonaws.com/us-east-2_McunVYsu8
VITE_COGNITO_CLIENT_ID=2e63itd99mnv9a09i7vjp5hh00
VITE_COGNITO_REDIRECT_URI=https://d84l1y8p4kdic.cloudfront.net
VITE_COGNITO_LOGOUT_URI=https://d84l1y8p4kdic.cloudfront.net
VITE_COGNITO_SCOPE=phone openid email
VITE_COGNITO_DOMAIN=https://your-cognito-domain.auth.us-east-2.amazoncognito.com
